.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    /* Adjust height based on your header height */
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.not-found-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.not-found-container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.not-found-container canvas {
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}

.dino-game-container {
    width: 600px;
    /* Match canvas width */
    margin: 0 auto;
}